Flask==1.1.1
Flask-SQLAlchemy==2.4.0
Flask-Session==0.3.1
flask-response==0.0.3
flask-requests==0.0.13
Flask-JSON==0.3.4
Flask-Login==0.4.1
Flask-LoginManager==1.1.6
flask-marshmallow==0.10.1
Flask-Bootstrap==3.3.7.1
Flask-Migrate==2.5.2
Flask-API==1.1
request==2019.4.13
requests==2.20.1
marshmallow==3.3.0
marshmallow-sqlalchemy==0.21.0
alembic==1.2.1
jsonify==0.5
jsonschema==2.6.0
Jinja2==2.10.1
config==0.4.2
urllib3==1.24.3
Pillow==8.3.2
Werkzeug==0.15.6